<footer class="chat-footer row">
    <div class="col-xs-9">
        <input id="new-message" type="text" class="form-control input-transparent" placeholder="Enter your message..">
    </div>
    <div class="col-xs-3">
        <button type="button" id="new-message-btn" class="btn btn-transparent btn-block">Send</button>
    </div>
</footer>